<% include partials/header %>
<h1>Create a new Campground</h1>
<form action="/campgrounds" method="post">
<input type="text" name="name" id="" placeholder="name">
<input type="text" name="image" id="" placeholder="image-url">
<button type="submit">Submit</button>
</form>
<a href="/campgrounds">Go Back</a>